<main class="m-2">
    <div class="row">
        <h1>{{name}}</h1>
        <div>
            <p> <strong>Birthdate:</strong> {{birthdate}}</p>
            <p> <strong>Deathdate:</strong> {{deathdate}}</p>
            <p> <strong>Birthplace:</strong> {{birthplace}}</p>
            <p> <strong>Occupation:</strong> {{occupation}}</p>
        </div>
        <hr>
        <div>
            <strong>Known for:</strong>
            {{#each known_for}}
            <ul>
                <li>{{this}}</li>
            </ul>
            {{/each}}
        </div>
        <hr>
        <div>
            <strong>Education:</strong>
            {{#each education}}
            <ul>
                <li>{{degree}} this {{institution}} ({{year}})</li>
            </ul>
            {{/each}}
        </div>
        <hr>
        <div>
            <strong>Notable publications:</strong>
            {{#each notable_publications}}
            <ul>
                <li>{{title}}, {{publisher}} ({{year}})</li>
            </ul>
            {{/each}}
        </div>
        <hr>
        <div>
            <strong>Partners:</strong>
            {{#each partners}}
            <ul>
                <li>{{name}}, {{relationship}} ({{years}})</li>
            </ul>
            {{/each}}
        </div>
        <hr>
        <div>
            <strong>Awards:</strong>
            {{#each awards}}
            <ul>
                <li>{{title}}, {{description}} ({{year}})</li>
            </ul>
            {{/each}}
        </div>
        <hr>
        <div>
            <strong>Influences:</strong>
            {{#each influences}}
            <ul>
                <li>{{this}}</li>
            </ul>
            {{/each}}
        </div>
        <div>
            <strong>Influenced:</strong>
            {{#each influenced}}
            <ul>
                <li>{{this}}</li>
            </ul>
            {{/each}}
        </div>
        <div>
            <strong>Quotes:</strong>
            {{#each quotes}}
            <ul>
                <li>{{this}}</li>
            </ul>
            {{/each}}
        </div>
        <hr>
        <div>
            <strong>Major discoveries:</strong>
            {{#each major_discoveries}}
            <ul>
                <li>{{title}} ({{year}}): {{description}}</li>
            </ul>
            {{/each}}
        </div>
        <hr>
        <div>
            <strong>Contributions:</strong>
            {{#with contributions}}
            <p>{{field}} in {{title}}, {{description}} ({{year}})</p>
            {{/with}}
        </div>
    </div>
</main>