<div>
    <h1>{{name}}</h1>
    <em> ({{birthdate}}-{{deathdate}})</em>
    <hr>
    <div>
        <p>
            {{deathplace}}
            {{nationality}}
            {{occupation}}
            <hr>
        <div>
            {{#each known_for}}
            <ul>
                <li>{{this}}</li>
            </ul>
            {{/each}}
        </div>
        </p>
        <br>
        <hr>
        <div>
            {{#each education}}
            <ol type="I">
                <li>{{degree}}</li>
                <li>{{field}}</li>
                <li>{{institution}}</li>
                <li>{{year}}</li>
            </ol>
            {{/each}}
        </div>
        <br>
        <hr>
        <div>
            {{#each notable_publications}}
            <strong>{{title}}</strong> <mark><em>({{year}})</em></mark><br>
            {{publiser}}
            {{/each}}
        </div>
        <br>
        <hr>
        <div>
            {{#each partners}}
            {{name}} <small>({{years}})</small><br>
            <em>{{relationship}}</em>
            {{/each}}
        </div>
        <br>
        <hr>
        <div>
            {{#each awards}}
            {{title}} ({{year}})
            <p><b>{{description}}</b></p>
            {{/each}}
        </div>
        <br>
        <hr>
        <div>
            {{#each influences}}
            <ul>
                <li>{{this}}</li>
            </ul>
            {{/each}}
        </div>
        <br>
        <hr>
        <div>
            {{#each influenced}}
            <ul type="circle">
                <li>{{this}}</li>
            </ul>
            {{/each}}
        </div>
        <br>
        <hr>
        <div>
            {{#each quotes}}
            <ul type="square">
                <li>{{this}}</li>
            </ul>
            {{/each}}
        </div>
        <br>
        <hr>
        <div>
            {{#each major_discoveries}}
            {{title}} <em>({{year}})</em>
            <p><b>{{description}}</b></p>
            {{/each}}
        </div>
        <br>
        <hr>
        <div>
            {{#with contributions}}
            {{title}}
            <p>{{description}}</p>
            <em>{{year}}</em>
            {{field}}
            {{/with}}
        </div>
    </div>
</div>