<main class="m-2">
    <div>
        {{#with program}}
        <div>
            {{#with excursion}}
            <h1>{{> title data="Excursion"}}</h1>
            <div>
                <h2 class="mb-3">Name:"{{name}}" </h2>
                <div class="mb-3">{{location.city}} {{location.country}}</div>

                <data>{{date}}</data>
                <h2 class="mt-2">{{> title data='Program:'}}</h2>
                <div>
                    {{#each program}}
                    <ul>
                        <li>
                            <div>
                                <h3>{{name}}</h3>
                            </div>
                            <div>Type: {{type}}</div>
                            <div>Duration: {{duration}}</div>
                            <div>
                                {{#with details}}
                                <div>
                                    {{#with museum}}
                                    <div><strong>{{name}}</strong></div>
                                    <div>{{location.address}}, {{location.city}}, {{location.country}}</div>
                                    <p><em>Exhibits: </em></p>
                                    <div>
                                        {{#each exhibits}}
                                        <ul>
                                            <li><b>{{name}}</b><br />
                                                {{#if artist}}{{artist}}{{else}}------{{/if}}<br />
                                                {{deskription}}
                                                {{#if audio_guide}}(audio guide){{/if}}
                                            </li>
                                        </ul>
                                        {{/each}}
                                    </div>
                                    {{/with}}
                                </div>
                                <div>
                                    {{#with venue}}
                                    <div><strong>{{name}}</strong></div>
                                    <div>{{location.address}}, {{location.city}}, {{location.country}}</div>
                                    {{/with}}
                                </div>
                                <br />
                                <div>
                                    {{#each performers}}
                                    <ul>
                                        <li>
                                            {{name}} {{type}}
                                        </li>
                                    </ul>
                                    {{/each}}
                                </div>
                                <p> Guide: {{guide.name}}<br />
                                    Language: {{guide.language}}<br />
                                    Rating: {{guide.rating}}

                                </p>
                            </div>
                            {{/with}}

                        </li>
                    </ul>
                    {{/each}}
                </div>
            </div>
            {{/with}}
        </div>
        {{/with}}
    </div>
</main>