<main class="m-1">
    <div class="row">
        {{#with navigation}}
        <div class="card mb-5">
            <div class="col-12">
                <div class="nav ">
                    <div class="nav-item">
                        <a href="{{links.[0].href}}" class="btn btn-link nav-link">{{links.[0].text}}</a>
                    </div>
                    <div class="nav-item">
                        <a href="{{links.[1].href}}" class="btn btn-link nav-link">{{links.[1].text}}</a>
                    </div>
                    <div class="nav-item">
                        <a href="{{links.[2].href}}" class="btn btn-link nav-link disabled">{{links.[2].text}}</a>
                    </div>
                </div>
            </div>
        </div>
        {{/with}}
        <header class="display-4 mt-5">{{header}}</header>
        {{#with purchase}}
        <div class="nav nav-tabs ms-5 mb-4">
            <div class="nav-item  ">
                <a href='#' class=" nav-link active">{{tabs.[0]}}</a>
            </div>
            <div class="nav-item  ">
                <a href='#' class=" nav-link">{{tabs.[1]}}</a>
            </div>
        </div>
        <div class='row'>
            {{#with actionBlock}}
            <div class="col-2">
                <input placeholder="{{placeholder}}">
            </div>
            {{#each buttons}}
            <div class="col-1">
                {{#if isSuccess}}<a href="{{link}}" class="btn btn-success">{{text}}</a>{{/if}}
                {{#if isOutline}}<a href="{{link}}" class="btn btn-outline-success btn-sm">{{text}}</a>{{/if}}
                {{#if isDanger}}<a href="{{link}}" class="btn btn-outline-danger btn-sm">{{text}}</a>{{/if}}
            </div>

            {{/each}}
            {{/with}}
        </div>
        <div class="mt-5">
            <hr>
        </div>
        {{#each itemList}}
        <div class="card ">
            <div class="card-body">
                <div class="row">
                    <div class="col-3">
                        <p class="text-muted">{{number}}</p>
                        {{status}}
                    </div>
                    <div class="col-3">
                        {{amount.title}}: <br> {{amount.value}}
                    </div>
                    <div class="col-4">
                        {{#each images}}
                        <img src='{{this}}'>
                        {{/each}}
                    </div>
                    {{#with button}}
                    <div class="col-2 ">
                        {{#if isPrimary}}<a href="{{link}}" class="btn btn-primary">{{text}}</a>{{/if}}
                    </div>
                    {{/with}}
                </div>
            </div>
        </div>
        {{/each}}
        {{/with}}
        <div class="mt-5">
            <hr>
        </div>
        {{#with userInfo}}
        <div class="display-6 mb-5">{{title}}</div>
        <div class="card">
            {{#with profileData}}
            <div class="display-6">{{title}}</div>
            <div class="card mb-2">
                {{#with fullName}}
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            {{surname.title}}<br> <b>{{surname.value}}</b>
                        </div>
                        <div class="col-4">
                            {{name.title}}<br> <b>{{name.value}}</b>
                        </div>
                        <div class="col-4">
                            {{middleName.title}}<br> <b>{{middleName.value}}</b>
                        </div>
                    </div>
                </div>
                {{/with}}
            </div>
            {{#with otherInfo}}
            <div class="card mb-2">
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            {{birthday.title}}<br> <b>{{birthday.value}}</b>
                        </div>
                        <div class="col-4">
                            {{sex.title}}<br> <b>{{sex.value}}</b>
                        </div>
                        <div class="col-4">
                            {{language.title}}<br> <b>{{language.value}}</b>
                        </div>
                    </div>
                </div>
            </div>
            {{/with}}
            {{/with}}
            <div class="card mb-2">
                <div class="card-body">
                    <div class="row">
                        {{#each buttons}}
                        <div class="col-4">
                            {{#if isPrimary}}<a href="{{link}}" class="btn btn-primary">{{text}}</a>{{/if}}

                            {{#if isSecondary}}<a href="{{link}}" class="btn btn-outline-dark">{{text}}</a>{{/if}}

                            {{#if isDanger}}<a href="{{link}}" class="btn btn-outline-danger">{{text}}</a>{{/if}}
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
            {{#with recipients}}
            <div class="card mb-2">
                <div class="card-body">
                    <div class="display-6">{{title}}</div>
                    <div class="row">
                        {{#each users}}

                        <div class="col-4">
                            <div class="card">
                                <div class="card-body">
                                    {{name}}<br> {{phone}}<br><a href="{{button.link}}"
                                        class="btn btn-primary mt-2">{{button.text}}</a>
                                </div>
                            </div>
                        </div>

                        {{/each}}
                    </div>
                </div>
            </div>
            {{/with}}

            {{#with contacts}}
            <div class="card mb-5">
                <div class="card-body">
                    <div class="display-6">{{title}}</div>
                    <div class="row">
                        {{#each contactData}}

                        <div class="col-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="text-muted">{{title}}</div><br>
                                    <p>{{value}}</p>
                                    {{#with button}}
                                    <div>
                                        {{#if isPrimary}}<a href="{{link}}" class="btn btn-primary">{{text}}</a>{{/if}}
                                        {{#if isSecondary}}<a href="{{link}}"
                                            class="btn btn-outline-dark">{{text}}</a>{{/if}}
                                        {{#if isDanger}}<a href="{{link}}"
                                            class="btn btn-outline-danger">{{text}}</a>{{/if}}
                                    </div>
                                    {{/with}}
                                </div>
                            </div>
                        </div>

                        {{/each}}
                    </div>
                </div>
            </div>
            {{/with}}
        </div>
        {{/with}}
        <div>
            <hr>
        </div>
        <div class="row">
            {{#each footer}}
            <div class="col-2">
                {{#each this}}
                <div class="nav ps-1 px-1 pt-1">
                    <div class="nav-item">
                        <a href="{{link}}" class="btn btn-link {{#if @last}}disabled{{/if}} nav-link">{{text}}</a>
                    </div>
                </div>
                {{/each}}
            </div>
            {{/each}}
        </div>
    </div>

    </div>
</main>