<div>
    {{#with web}}
    <div>
        <h1>{{> title data='Languages'}}</h1>
        <div>
            {{#each languages}}
            <ul>
                Name: {{name}}<br />
                Version: {{version}}, {{description}}
            </ul>
            <div>
                {{#each elements}}
                <ul>
                    Name: {{name}}<br />
                    Description: {{description}}

                </ul>
                <div>
                    {{#if attributes}}<h2>Attributes: </h2>{{/if}}
                    {{#each attributes}}
                    {{name}}
                    {{description}}<br />
                    {{/each}}
                </div>
                {{/each}}
            </div>
            <div>
                <div>
                    {{#if properties}} <h2>Properties:</h2>{{/if}}
                    {{#each properties}}
                    {{name}}, {{description}}
                    <div>
                        {{#if values}}<h3>Values: </h3>
                        {{#each values}}
                        {{value}}, {{description}}<br />
                        {{/each}}
                        {{/if}}
                    </div>
                    {{/each}}
                </div>
                <div>
                    <div>
                        {{#if functions}} <h2>Functions: </h2>{{/if}}
                        {{#each functions}}
                        {{name}}, <em>{{description}}</em><br />
                        <div>

                            {{#each parameters}}
                            {{name}}
                            {{type}}, {{description}}<br /><br />
                            {{/each}}
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    {{/with}}
</div>