<div>
    {{#each reviewList}}
    <div class="card mb-2">
        <div class="card-body">
            <div class="card">

                {{#with title}}
                <b>{{userName}}</b>
                <p class="form-text">{{caption}}</p>
                <data>{{date}}</data>
                {{/with}}
                <div class="card mb-5">
                    <div class="card-body">
                        {{#with reviewBody}}
                        <div class="mb-3">
                            {{seller.title}}: {{seller.value}}
                        </div>
                        <div class="mb-3">
                            {{rating.title}}: {{rating.value}}
                        </div>
                        <div class="mb-3">
                            {{text.[0]}}
                        </div>
                        <div class="mb-3">
                            {{text.[1]}}
                        </div>
                        <div class="mb-3">
                            <h5>{{advantages.title}}</h5>
                            {{advantages.text}}
                        </div>
                        <div class="mb-3">
                            <h5>{{disadvantages.title}}</h5>
                            {{disadvantages.text}}
                        </div>
                        <div>
                            {{#each images}}
                            <img src="{{this}}">
                            {{/each}}
                        </div>
                    </div>
                    <div class="ps-5 pt-5">
                        {{#each coments}}
                        <div class="card my-3">
                            <div class="display-6 pb-2">{{userName}}</div>
                            <data class="pb-3">{{date}}</data>
                            {{text}}
                        </div>
                        {{/each}}
                    </div>
                    {{/with}}
                </div>
            </div>
        </div>
    </div>
    {{/each}}
    <div class="col-12">
        {{#with service}}
        <div class="card text-bg-success text-center">
            <div class="card-body">
                <div class="display-5 pb-2">{{title}}</div>
                <p>{{description}}</p>
                {{#each buttons}}
                <a href="{{link}}" class="btn btn-primary">{{text}}</a>
                {{/each}}
            </div>
        </div>
        {{/with}}
    </div>
</div>